%h1= @job.title
%h3= @category.name
%p= @job.description
= link_to "#{(@job.company).capitalize}", "#{@job.url}", target: "blank"
%hr
=link_to "Delete", @job, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure"}
%p
	%br
	= link_to "Back", root_path 
	|
	= link_to "Edit", edit_job_path(@job)